<form (ngSubmit)="postTodo(todoField)" class="form-inline" novalidate #form="ngForm">
    <div class="form-group text-left">
        <div class="col-lg-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span> 
                </span>
                <input [(ngModel)]="text" #todoField="ngModel" name="todo" type="text" class="form-control" placeholder="Specify Todo Here" required>
            </div>
        </div> 
    </div>
    <button disabled="form.invalid" class="btn btn-primary" type="submit">Submit</button>
</form>