<form class="form-inline">
    <div class="form-group text-left">
        <label class="control-label col-lg-2">Todo</label>
        <div class="col-lg-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span> 
                </span>
                <input type="text" class="form-control" placeholder="Specify Todo Here">
            </div>
        </div> 
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>